<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
    title : 'HOME'
}) %>

<body class="home__body">

    <%- include('partials/header') %>
    
    <main class="home__main">
        <!-- CAROUSEL 1 | SWIPER -->
        <div class="swiper mySwiper carousel1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/slider1.jpg" alt="slider1">
                    <div class="text-slider1">
                        <h3>Descubre la <i class="resaltado-arena">magia</i> en cada <i>detalle.</i></h3>
                        <h5>shop rings</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/images/slider2.jpg" alt="slider2">
                    <div class="text-slider2">
                        <h3>Cada joya cuenta una <i class="resaltado-celeste">historia</i> <br> ¿Cuál es la tuya?</h3>
                        <h5>shop rings</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/images/slider3.jpg" alt="slider3">
                    <div class="text-slider3">
                        <h3><i class="resaltado-arena">Brilla</i> <br> con confianza.</h3>
                        <h5>shop necklaces</h5>
                    </div>
                </div>
            </div>
            <!-- Botones de navegacion -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </main>

    <!-- CATEGORIAS -->

    <section class="home__section-categorias">
        <h3>"Encuentra la joya que captura tu esencia."</h3>
        <div class="grupo-categorias">
            <div class="collares">
                <img src="/images/categoria1.jpg" alt="">
                <h2>collares</h2>
            </div>
            <div class="tres-categorias">
                <div class="anillos">
                    <img src="/images/categoria2.jpg" alt="">
                    <h2>anillos</h2>
                </div>
                <div class="pulseras-pendientes">
                    <div class="pulseras">
                        <img src="/images/categoria3.jpg" alt="">
                        <h2>pulseras</h2>
                    </div>
                    <div class="pendientes">
                        <img src="/images/categoria4.jpg" alt="">
                        <h2>pendientes</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ITEMS DE COMPRA  -->

    <section class="home__section-items_compra">
        <div class="item-compra">
            <i class="far fa-credit-card"></i>
            <div class="items-descripcion">
                <h5>3,6 y 12 pagos sin interes seleccionando mercado pago</h5>
                <p>Con tarjeta de bancos adheridos</p>
            </div>
        </div>
        <div class="item-grupo">
            <div class="item-compra">
                <i class="fas fa-truck"></i>
                <div class="items-descripcion">
                    <h5>Envios gratis desde $29990 </h5>
                </div>
            </div>
            <div class="item-compra">
                <i class="fas fa-dollar-sign"></i>
                <div class="items-descripcion">
                    <h5>15% de descuento en efectivo o transferencia bancaria</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- Carousel 2 | Swiper  Novedades  -->
    <section class="home__section-productos">
        <div class="swiper mySwiper2 carousel2 ">
           <div class="titulo-carousel2">
                <h2>Novedades</h2>
                <div class="navegacion">
                    <a href="">VER TODO</a>
                    <div class="flechas">
                        <!-- Flecha anterior -->
                        <div class="swiper-button-prev-2"><i class="fas fa-chevron-left"></i></div>
                        <!-- Flecha siguiente -->
                        <div class="swiper-button-next-2"><i class="fas fa-chevron-right"></i></div>  
                    </div>
                </div>
           </div>
           
            <div class="swiper-wrapper">
                <!-- Card de producto -->
                <% products.forEach(product => { %>
                    <% if (product.brand != "Valka") { %>
                        <div class="swiper-slide">
                            <div class="producto">
                                <div class="img-prod">
                                    <img src="/images/<%= product.image1%>" alt="producto 1">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="descripcion-prod">
                                    <h5><%= product.name %></h5>
                                    <div class="contenedor-boton">
                                        <button>$<%= product.price %></button>
                                    </div>
                                    <p><%= product.category %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    
                <% }) %>
            </div>
        </div>
    </section>

    <!-- BANNER EUFORIA -->
    <section class="home__section-banner">
        <img src="/images/Banner.webp" alt="banner">
        <h3>Colección EUFORIA</h3>
        <button class="botonPrimario-small">Ver Más <i class="fas fa-arrow-right"></i> </button>
    </section>

    <!-- Carousel 3 | Swiper  -->
    <section class="home__section-productos">
        <div class="swiper mySwiper2 carousel2 ">
           <div class="titulo-carousel2">
                <h2>lo mejor de <strong>valka</strong></h2>
                <div class="navegacion">
                    <a href="">VER TODO</a>
                    <div class="flechas">
                        <!-- Flecha anterior -->
                        <div class="swiper-button-prev-2"><i class="fas fa-chevron-left"></i></div>
                        <!-- Flecha siguiente -->
                        <div class="swiper-button-next-2"><i class="fas fa-chevron-right"></i></div>  
                    </div>
                </div>
           </div>
            <div class="swiper-wrapper">
                <% products.forEach(product => { %>
                    <% if (product.brand === 'Valka') { %>

                        <div class="swiper-slide">
                            <div class="producto">
                                <div class="img-prod">
                                    <img src="/images/<%= product.image1%>" alt="producto 1">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="descripcion-prod">
                                    <h5><%= product.name %></h5>
                                    <div class="contenedor-boton">
                                        <button>$<%= product.price %></button>
                                    </div>
                                    <p><%= product.category %></p>
                                </div>
                            </div>
                        </div>
                     
                    <% } %>
                    
                <% }) %>
                </div>
            </div>
        </div>
    </section>

    <!-- UBICACIÓN GOOGLE MAPS -->
    <section class="home__section-ubicacion">
        <h2>valka joyas - sede central</h2>
        <div class="tienda-y-maps">
            <div>
                <img src="/images/imagen tienda.jpg" alt="imagen tienda">
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d28973.557321644694!2d-65.4180352!3d-24.8059068!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1689959163672!5m2!1ses-419!2sar"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>
    <!-- FOOTER -->
    <%- include('partials/footer') %>

    <!-- SWIPER JS -->
    <%- include('partials/scripts') %>


</body>

</html>