<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title : 'LOGIN' }) %>

  <body class="home__body">
    <%- include('partials/header') %>

    <main class="container mt-5 mb-5 bg-white">
      <div class="row justify-content-around">
        <div class="col-md-4 col-12 mt-5  mb-5">
          <h3>INICIAR SESIÓN</h3>
          <form method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control <%= locals.errors && (errors.email && 'is-invalid') %>"
                id="email"
                name="email"
              />
              <small id="msgError-email" class="text-danger ms-2"><%= locals.errors && (errors.email && errors.email.msg) %></small>
            </div>
            <div class="mb-3 mt-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control <%= locals.errors && (errors.password && 'is.invalid') %>"
                id="password"
                name="password"
              />
              <small id="msgError-password" class="text-danger ms-2"></small>
              <% if (locals.errors && errors.password) { %>
              <div class="mb-3">
                <small class="text-danger ms-2"><%= errors.password.msg %></small>
              </div>
              <% } %>
              <div>
                <a class="text-dark small" href="">Olvidé mi contraseña</a>
              </div>
            </div>
            
            <div class="mb-3">
              <input type="checkbox" value="" id="remember" name="remember" />
              <label class="form-check-label" for="remember">Recuerdame</label>
            </div>
            <button type="submit" class="botonPrimario">
              INGRESAR <i class="fas fa-arrow-right"></i>
            </button>
          </form>
        </div>
        <div class="col-md-4 col-12 mt-5 mb-5">
          <h3>UNITE AL CLUB VALKA. OBTENÉ LOS BENEFICIOS</h3>
          <p>Unite al Valkaclub. Obtené recompensas hoy mismo:</p>
          <div class="d-flex align-items-center">
            <i class="fas fa-check"></i>
            <p>15% de descuento en tu próxima compra</p>
          </div>
          <div class="d-flex align-items-center">
            <i class="fas fa-check"></i>
            <p>Acceso a productos y rebajas exclusivas para miembros</p>
          </div>
          <div class="d-flex align-items-center">
            <i class="fas fa-check"></i>
            <p>Oferta y promociones especiales</p>
          </div>
          <a href="/users/register"
            ><button class="botonPrimario">
              REGISTRARME <i class="fas fa-arrow-right"></i></button
          ></a>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/javascripts/validationLogin.js"></script>
  </body>
</html>
