<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title : 'EDITANDO: ' + name }) %>

    <body style="background-color: lightblue;">
        <%- include('partials/header') %>
            <!-- BOOTSTRAP -->
            <main class="main_create">
             
                <div class="row mt-5">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title font-weight-bold"><%= name %></h2>
                                <hr>
                                <form action="/products/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data"
                                    id="productEdit">
                                    <!-- <form action="" method="POST"
                                                    enctype="multipart/form-data">   -->
                                    <label>
                                        <h5><strong>DATOS</strong></h5>
                                    </label><br>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="referencia" class="col-form-label"><strong>Referencia:
                                                </strong></label>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <span class="bg-warning" style="font-size: 1.5em;"><%= id %></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <label for="formName"
                                                class="col-form-label"><strong>Nombre:</strong></label>
                                            <input type="text" placeholder="Nombre / Título" minlength="3"
                                                maxlength="25" id="formName" name="name"
                                                class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>"
                                                value="<%= name %>">
                                            <small id="msg-name" class="ms-2 text-danger">
                                                <%= locals.errors && (errors.name && errors.name.msg) %>
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="description"
                                            class="form-label"><strong>Descripción:</strong></label>
                                        <textarea placeholder="Escriba el detalle del producto" rows="3" 
                                            id="description" name="description"
                                            class="form-control <%= locals.errors && (errors.description && 'is-invalid')%>"
                                            style="resize: none;"><%=description%></textarea>
                                        <small id="msg-description" class="ms-2 text-danger">
                                            <%= locals.errors && (errors.description && errors.description.msg) %>
                                        </small>
                                        <div class="d-flex justify-content-left col-2">
                                            <p id="numTotal" class=""></p>
                                            <p> /300</p>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md">
                                            <label for="brand"
                                                class="d-block text-center"><strong>Marca:</strong></label>
                                            <select name="brand" id="brand" class="form-control">
                                                <option value="" hidden selected>Seleccione...</option>
                                                <% brands.forEach(({name, id})=> { %>
                                                    <option value="<%= id %>" <%=brandId==id
                                                        && 'selected' %>><%= name %>
                                                    </option>
                                                    <% }) %>
                                            </select>

                                            <small id="msg-brand" class="ms-2 text-danger">
                                                <%= locals.errors && (errors.brand && errors.brand.msg) %>
                                            </small>
                                        </div>

                                        <div class="form-group col-md">
                                            <label for="model"
                                                class="d-block text-center"><strong>Modelo:</strong></label>
                                            <select name="model" id="model" class="form-control">
                                                <option value="" hidden selected>Seleccione...</option>
                                                <% designs.forEach(({name, id})=> { %>
                                                    <option value="<%= id %>" <%=designId==id
                                                        && 'selected' %>><%= name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            <small id="msg-model" class="ms-2 text-danger">
                                                <%= locals.errors && (errors.model && errors.model.msg) %>
                                            </small>
                                        </div>
                                        <div class="form-group col-md">
                                            <label for="collection"
                                                class="d-block text-center"><strong>Colección:</strong></label>
                                            <select name="collection" id="collection" class="form-control">
                                                <option value="" hidden selected>Seleccione...</option>
                                                <% collections.forEach(({name, id})=> { %>
                                                    <option value="<%= id %>" <%= collectionId == id
                                                        && 'selected' %>><%= name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            <small id="msg-collection" class="ms-2 text-danger">
                                                <%= locals.errors && (errors.collection && errors.collection.msg) %>
                                            </small>
                                        </div>
                                    </div>
                                    <hr>
                                    <label>
                                        <h5><strong>IMÁGENES</strong></h5>
                                    </label><br>
                                    <div class="container">


                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="col-12">
                                                    <label for="image1" class="btn btn-secondary">Principal:</label>
                                                    <small id="msg-image1" class="ms-2 text-danger">
                                                        <%= locals.errors && (errors.image1 && errors.image1.msg) %>
                                                    </small>
                                                    <div class="col-12">
                                                        <input type="file" accept="image/*" id="image1" name="image1"
                                                            hidden class="form-control">
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-12 m-2 border border-1 w-100" style="height: 200px;">
                                                    <img src="/images/<%= image1 %>" style="width: 100px;" alt="">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="col-12">
                                                    <label for="image2"
                                                        class="btn btn-primary">Secundarias:</label>
                                                    <div class="col-md-4">
                                                        <input hidden class="form-control" type="file" id="image2"
                                                            name="image2" accept="image/*" multiple>
                                                    </div>
                                                </div>
                                                <div class="col-12 m-2  border border-1 w-100" style="height: 200px;">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <% images.forEach(image => { %>
                                                            <img src="/images/<%= image.file %>" class="m-2" style="width: 80px;" alt="">
                                                        <% }) %>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                    <label>
                                        <h5><strong>CLASIFICACIÓN</strong></h5>
                                    </label><br>
                                    <label for="category"><strong>Categoría:</strong></label>
                                    <small id="msg-category1" class="d-block ms-2 text-danger">
                                        <%= locals.errors && (errors.category && errors.category.msg) %>
                                    </small>
                                    <div class="d-flex">
                                        <% categories.forEach(({name, id})=> { %>
                                            <div class="form-check m-4">
                                                <input type="radio" id="<%= name %>" name="category"
                                                    class="form-check-input" value="<%= id %>" <%=categoryId == id && 'checked' %>
                                                >
                                                <label for="<%= name %>" class="form-check-label">
                                                    <%= name %>
                                                </label>
                                             
                                            </div>
                                            <% }) %>

                                    </div>
                                   
                                    <div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <label for="metal"><strong>Metal:</strong></label>
                                                <select id="metal" name="metal" class="form-control">
                                                    <option selected hidden value="">Seleccione una opción...</option>                                                    
                                                    <% metals.forEach(({name, id})=> { %>
                                                        <option value="<%= id %>" <%=
                                                            metalId == id && 'selected' %> >
                                                            <%= name %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                                <small id="msg-metal" class="ms-2 text-danger">
                                                    <%= locals.errors && (errors.metal && errors.metal.msg) %>
                                                </small>
                                            </div>

                                            <div class="col-12  col-md-6">
                                                <label for="countStones"><strong>N° de Piedras:</strong></label>
                                                <input type="number" id="countStones" name="countStones" class="form-control"
                                                    value="<%= countStones %>">
                                                <small id="msg-countStones" class="ms-2 text-danger">
                                                    <%= locals.errors && (errors.countStones && errors.countStones.msg) %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <label>
                                        <h5><strong>DETALLE</strong></h5>
                                    </label><br>

                                    <label><strong>Tipo de Piedra:</strong></label>
                                    <small id="msg-stones" class="ms-2 text-danger">
                                        <%= locals.errors && (errors.stones && errors.stones.msg) %>
                                    </small>
                                    <br>

                                        <div class="d-flex flex-wrap">
                                            <% types.forEach(({id, name}) => { %>
                                                <div class="form-check m-2" style="width: 100px;">
                                                    <input type="checkbox" class="form-check-input" id="<%= name %>" name="stones" value="<%= id %>" <%= stonesArray.includes(+id) && 'checked' %>>
                                                    <label class="form-check-label" for="<%= name %>"><%= name %></label>
                                                </div>
                                            <% }) %>
                                        
                                        </div>
                                    <div class="row mt-4">
                                        <div class="col-12 col-md-3">
                                                <!-- Campo "Tamaño" -->
                                                    <label for="size"><strong>Tamaño:</strong></label>
                                                    <input type="text" placeholder="Codigo alfanumerico" id="size"
                                                        name="size" class="form-control"
                                                        value="<%= size %>">
                                                    <small id="msg-size" class="ms-2 text-danger">
                                                        <%= locals.errors && (errors.size && errors.size.msg) %>
                                                    </small>
                                        </div>
                                                <!-- Campo "Medida (mm)" -->
                                                <div class="col-12 col-md-3">
                                                    <label for="measures_mm"><strong>Medida (mm):</strong></label>
                                                    <input type="number" placeholder="en numeros de mm" id="measures_mm"
                                                        name="measures_mm" class="form-control"
                                                        value="<%= measures_mm %>">
                                                    <small id="msg-measures_mm" class="ms-2 text-danger">
                                                        <%= locals.errors && (errors.measures_mm &&
                                                            errors.measures_mm.msg) %>
                                                    </small>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <strong>Garantía:</strong><br>
                                                    <div class="d-flex mt-3">
                                                    <div>
                                                        <label class="form-check-label ml-4 mr-4"
                                                            for="si_warranty"><strong> Si </strong></label>
                                                        <input type="radio" id="si_warranty" name="warranty"
                                                            class="form-check-input" value="true" <%= warranty && 'checked' %>
                                                        checked>
                                                        <small id="msg-warranty1" class="d-block ms-2 text-danger">
                                                            <%= locals.errors && (errors.warranty &&
                                                                errors.warranty.msg) %>
                                                        </small>
                                                    </div>
                                                    <div>
                                                        <label class="form-check-label ml-4 mr-4"
                                                            for="no_warranty"><strong> No </strong></label>
                                                        <input type="radio" id="no_warranty" name="warranty"
                                                            class="form-check-input" value="false" <%=!warranty && 'checked' %>
                                                        >
                                                        <small id="msg-warranty2" class="d-block ms-2 text-danger">
                                                            <%= locals.errors && (errors.warranty &&
                                                                errors.warranty.msg) %>
                                                        </small>
                                                    </div>
                                                </div>
                                                </div>
                                                    <div class="col-12 col-md-3">
                                                        <strong>Guardajoyas:</strong><br>
                                                        <div class="d-flex mt-3">
                                                            <div>
                                                                <label class="form-check-label ml-4 mr-4"
                                                                    for="si_jewel_keeper"><strong> Si </strong></label>
                                                                <input type="radio" id="si_jewel_keeper" name="jewel_keeper"
                                                                    class="form-check-input" value="true" <%=jewel_keeper && 'checked' %>
                                                                checked>
                                                                <small id="msg-jewel_keeper1" class="d-block ms-2 text-danger">
                                                                    <%= locals.errors && (errors.jewel_keeper &&
                                                                        errors.jewel_keeper.msg) %>
                                                                </small>
                                                            </div>
                                                            <div>
                                                                <label class="form-check-label ml-4 mr-4"
                                                                    for="no_jewel_keeper"><strong> No </strong></label>
                                                                <input type="radio" id="no_jewel_keeper" name="jewel_keeper"
                                                                    class="form-check-input" value="false" <%=!jewel_keeper && 'checked' %>
                                                                >
                                                                <small id="msg-jewel_keeper2" class="d-block ms-2 text-danger">
                                                                    <%= locals.errors && (errors.jewel_keeper &&
                                                                        errors.jewel_keeper.msg) %>
                                                                </small>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            
                                     
                                      <div class="container">

                                        <hr>
                                    <label>
                                        <h5><strong>ECONOMÍA</strong></h5>
                                    </label><br>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <!-- Campo de Precio Original -->
                                                    <label for="price"><strong>Precio Original:</strong></label>
                                                    <input type="number" id="price" name="price" class="form-control"
                                                        value="<%= price %>">
                                                    <small id="msg-price" class="ms-2 text-danger">
                                                        <%= locals.errors && (errors.price && errors.price.msg) %>
                                                    </small>

                                            </div>
                                                <!-- Campo de Descuento % -->
                                                <div class="col-12 col-md-4">
                                                    <label for="discount"><strong>Oferta_%:</strong></label>
                                                    <input type="number" id="discount" name="discount"
                                                        class="form-control" value=<%=discount %>
                                                    >
                                                    <small id="msg-discount" class="ms-2 text-danger">
                                                        <%= locals.errors && (errors.discount && errors.discount.msg) %>
                                                    </small>
                                                </div>
                                         
                                                <div class="col-12 col-md-4">                                   
                                                <label for="stock"><strong>Stock:</strong></label>
                                                <input type="number" id="stock" name="stock" class="form-control"
                                                    value="<%= stock %>">
                                                <small id="msg-stock" class="ms-2 text-danger">
                                                    <%= locals.errors && (errors.stock && errors.stock.msg) %>
                                                </small>
                                                </div>
                                    
                                </div>
                                <div class="d-flex justify-content-end mt-4">
                                    <button type="submit" class="btn btn-dark">Guardar cambios</button>
                                </div>
                            </div>

                        </form>

                                <style>
                                    .form-check-input {
                                        cursor: pointer;
                                        transition: background-color 0.3s ease-in-out;
                                    }
    
                                    .form-check-input:hover {
                                        background-color: gold;
                                    }
    
                                    .form-check-input:checked + .form-check-label {
                                        background-color: gold;
                                    }
    
                                    .form-check-input:not(:checked):hover + .form-check-label {
                                        background-color: lightblue;
                                    }
                                    </style>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <script src="/javascripts/productUpdateValidations.js"></script>
    </body>

</html>