<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title : 'PROFILE' }) %>

    <body class="home__body">

        <%- include('partials/header') %>

            <main class="container mt-5 mb-5 bg-white">
                <div class="row">
                    <div class="col-12 col-md-10 mx-auto mt-5 mb-5">
                        <div class="card-body">
                            <h3>Mi Perfil</h3>
                            <hr>
                            <form action="/users/update-profile?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-5">
                                        <img src="/images/<%= image ? image : 'user_image_default.png' %>" alt="imagen de perfil" class="img-fluid">
                                    </div>
                                    <div>
                                        <div class="col-12 mb-3">
                                            <label for="name" class="form-label">Nombre</label>
                                            <input type="text" class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>" id="name" name="name"  value="<%= name || locals.old && (old.name && old.name) %>">
                                            <small class="ms-2 text-danger"><%= locals.errors && (errors.name && errors.name.msg) %></small>
                                        </div>
                                        <div class="col-12  mb-3">
                                            <label for="surname" class="form-label">Apellido</label>
                                            <input type="text" class="form-control <%= locals.errors && (errors.surname && 'is-invalid') %>" id="surname" name="surname" value="<%= surname || old && (old.surname && old.surname) %>">
                                            <small class="ms-2 text-danger"><%= locals.errors && (errors.surname && errors.surname.msg) %></small>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="image" class="form-label">Agregar imagen</label>
                                            <input class="form-control" type="file" id="image" name="image">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="form-label" for="birthday">Cumpleaños</label>
                                            <input class="form-control" type="date" id="birthday" name="birthday" value="<%= birthday %>">
                                        </div>
                                        <div class="col-12  mb-3 form-floating">
                                            <label class="form-label" for="genderId" id="floatingSelect">Género</label>
                                            <select class="form-control" name="genderId" id="genderId">
                                                <option value="" disabled selected><%= genderId %></option>
                                                <option value="1" <%= genderId === 'mujer' && 'selected' %>>Mujer (1)</option>
                                                <option value="2" <%= genderId === 'hombre' && 'selected' %>>Hombre (2)</option>
                                                <option value="3" <%= genderId === 'no binario' && 'selected' %>>No binario (3)</option>
                                            </select>                                            
                                            
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="botonPrimario">GUARDAR</button>
                                        </div>
                                    </div>
                                </div>
                                

                            </form>
                        </div>
                    </div>
                </div>
            </main>

        <%- include('partials/footer') %>


    <%- include('partials/scripts') %>
    </body>

</html>