<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title : 'REGISTER' }) %>

  <body class="home__body">
    <%- include('partials/header') %>

    <main class="container mt-5 mb-5 bg-white">
      <div class="row justify-content-around">
        <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5 mb-5">
          <h3>REGÍSTRATE</h3>
          <hr />
          <form method="POST" id="formRegister" enctype="multipart/form-data">
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>"
                  id="name"
                  value="<%= locals.old && (old.name && old.name) %>"
                  name="name"
                />
                <small id="msgErr-name" class="ms-2 text-danger"
                  ><%= locals.errors && (errors.name && errors.name.msg)
                  %></small
                >
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="surname" class="form-label">Apellido</label>
                <input
                  type="text"
                  class="form-control <%= locals.errors && (errors.surname && 'is-invalid') %>"
                  id="surname"
                  value="<%= locals.old && (old.surname && old.surname) %>"
                  name="surname"
                />
                <small id="msgErr-surname" class="ms-2 text-danger"
                  ><%= locals.errors && (errors.surname && errors.surname.msg)
                  %></small
                >
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control col-12 <%= locals.errors && (errors.email && 'is-invalid') %>"
                  id="email"
                  value="<%= locals.old && (old.email && old.email) %>"
                  name="email"
                />
                <small id="msgErr-email" class="ms-2 text-danger"
                  ><%= locals.errors && (errors.email && errors.email.msg)
                  %></small
                >
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="image" class="form-label">Agregar imagen</label>
                <input
                  class="form-control"
                  type="file"
                  id="image"
                  value="<%= locals.old && (old.image && old.image) %>"
                  name="image"
                />
                <small id="msgErr-image" class="ms-2 text-danger"
                  ><%= locals.errors && (errors.image && errors.image.msg)
                  %></small
                >
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                  />
                  <span class="input-group-text"
                    ><i id="viewPassword" class="fa fa-eye"></i
                  ></span>
                </div>
                <small id="msgErr-password" class="ms-2 text-danger"
                  ><%= locals.errors && (errors.password && errors.password.msg)
                  %></small
                >
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="password2" class="form-label"
                  >Confirmar contraseña</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password2"
                  name="password2"
                />
                <small id="msgErr-password2" class="ms-2 text-danger"
                  ><%= locals.errors && (errors.password2 &&
                  errors.password2.msg) %></small
                >
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="botonPrimario">CREAR CUENTA</button>
              <small id="msgErr-empty" class="ms-2 text-danger"></small>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>

    <%- include('partials/scripts') %>
  </body>
</html>
