<div class="swiper-slide">
    <a href="/products/detail/<%=product.id%>">
        <div class="producto">
            <div class="img-prod">
                <img src="/images/<%= product.image1%>" alt="producto <%= product.id %>">
                <i class="far fa-heart"></i>
            </div>
            <div class="descripcion-prod">
                <h5><%= product.name %></h5>
                <div class="contenedor-boton">
                    <button>$<%= toThousand(product.price) %></button>
                </div>
                <p><%= product.categoryId %></p>
            </div>
        </div>
    </a>
</div>